.calculadora {
    background: rgb(197, 83, 226);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.calculadora input {
    background: rgb(238, 156, 204);
    color: black;
    padding: 5px;
    border-radius: 5px;
}
#spTotal {
    background: black;
    color: rgb(124, 203, 223);
    padding: 5px;
    border-radius: 10px;

}.calculadora button {
    background: rgb(189, 109, 243);
    color: black;
    padding: 8px;
    margin-top: 10px;
    
}
.calculadora button:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 4, 192);
    cursor:help;
}